:root {
  --font-minecraft: 'VT323', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: var(--font-minecraft);
  background-color: #1e1e1e;
  color: white;
  overflow: hidden;
}

button {
  font-family: var(--font-minecraft);
  cursor: pointer;
}
